#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Lucida Sans Unicode', Geneva;
    color: rgb(8, 9, 8);
}
#btnContainer{
   text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: black;
  background-color: rgb(90, 90, 215);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.25s;  
}
.buttons:hover{
    background-color: rgb(142, 197, 228)
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: url("assts/Background.jpg");         /* Path to your image */
    background-size: cover;                                               /* Makes image cover entire screen */
    background-position: center;                                         /* Centers the image */
    background-repeat: no-repeat;                                       /* Prevents repeating */
}